.friend {
    display: grid;
    grid-template-rows: 2fr 1fr;
    row-gap: 15px;
}
.friend img {
    width: 50px;
    height: 50px;
    background: yellow;
    border-radius: 50%;
    margin: 0 auto;
}
.friend .name {
    color: #fff;
}