.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems {
    padding: 10px;
}
.dialog.active {
    color: gold;
}
.navLink {
    display: flex;
    text-decoration: none;
    padding: 10px 5px;
    border-bottom: 1px solid #eee;
    align-items: center;
}
.navLink img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background: yellow;
    border-radius: 50%;
}

.messages {
    padding: 10px;
    margin: 20px 40px;
}
.message {
    margin: 20px 0;
}
.message .body {
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #eee;
    display: inline-block;
}